<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>KAKAO MAP List</title>
</head>
<body>
<table>
    <caption>업체목록</caption>
    <tr>
        <th>업체명</th>
        <th>위도</th>
        <th>경도</th>

    </tr>
    <td><a th:each="list : ${store}" th:href="@{kmap4(storeName=${list.storeName})}"></a></td>
        <td th:text="${list.lat}"></td>
        <td th:text="${list.lng}"></td>
</table>

</body>
</html>